<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>盒子模型内边距</title>
    <style>
        /* 
        内边距:内容和边框之间的距离
        */
        .box1{
            width:200px;
            height:200px;
            border-width:20px;
            background-color: rgb(102, 19, 19);
            border-style:solid;
            padding:100px;
        }
        .box2{
            width:200px;
            height:200px;
            background-color: coral;
        }
</style>
</head>
<body>
    <div class="box1">
        <div class="box2">bbb</div>
    </div>
</body>
</html>