<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>盒子模型外边距</title>
    <style> 
    .box1{
        width:200px;
        height:200px;
        background-color: rgb(51, 226, 110);
        border:10px red solid;
    }
    .box2{
        width:220px;
        height:220px;
        background-color:coral
    }
    </style>
</head>
<body>
    <div class="box1">111</div>
    <div class="box2">222</div>
</body>
</html>